<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">About</h1>
  <p>
    <strong>3D Printer For Hobbies</strong> is web site to try reference all FDM printers for hobbies.<br>
    That's why you can't find printers like Ultimaker S7.<br>
    We reference printers that an hobbies can by, include Bambu Lab X1, Flsun V400...
  <p>
  <p>
    We try also reference all softwares that can be help you to print, like Fusion 360, Cura Slicer...
  </p>
  <p>
    And much more with over time...
  </p>
</div>
