<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="https://www.github.com:emeric-martineau/3d-printer-for-hobbies"><i class="bi bi-github"></i> Souces codes</a></li>
      <li class="list-inline-item"><a href="#about">About</a></li>
      <li class="list-inline-item"><a href="#terms">Terms & Conditions</a></li>
      <li class="list-inline-item"><img src="assets/cc-88x31.png"></li>
  </ul>
  <p class="copyright">3D printer for hobbies team © 2023 - Made with <i class="bi bi-heart-fill"></i> in open-source softwares</p>
  </div>
</footer>
