<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Terms & Conditions</h1>
  <p>
    All sources codes of this web site, are protected by <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.<br>
    All data are covered by <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">Creative Commones Attribution-NonCommercial-ShareAlike 4.0 International</a> (human readable <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">license</a>).<br>
  </p>
  <p>
    This site was made with <a href="https://angular.io">Angular</a>, an open-source platform and framework for building single-page client applications using HTML and TypeScript, but this web site is not affiliated to Google or any Alphabet' subsidiaries.<br>
    All datas are provided by many peoples through Github repository. No guaranteed about any informations.
  </p>
</div>
