<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/logo_300x300.jpg" />
    <h1 class="display-5 fw-bold">3D printers for hobbyist</h1>
    <p class="col-lg-6 mx-auto">Welcome to the most complet database of FDM 3D printers for hobbyist!</p>
  </div>
</div>

<div class="container">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <print-table></print-table>
  </div>
</div>
