<div class="btn-group">
	<div class="btn-group" ngbDropdown role="group" aria-label="The filter">
		<button type="button" class="btn btn-primary" ngbDropdownToggle>{{ selectedFilter.text == '' ? 'Filter field name...' : selectedFilter.text }}</button>
		<div class="dropdown-menu" ngbDropdownMenu>
			<button ngbDropdownItem *ngFor="let filter of filtersNameList" (click)="onSelectedFilterName(filter.key, filter.text)">{{ filter.text }}</button>
		</div>
	</div>
	<div class="btn-group" ngbDropdown role="group" aria-label="The value of filter" *ngIf="selectedFilter.values.length > 0">
		<button type="button" class="btn btn-light" ngbDropdownToggle>...filter value</button>
		<div class="dropdown-menu" ngbDropdownMenu>
			<button ngbDropdownItem *ngFor="let value of selectedFilter.values" (click)="onSelectedFilterValue(selectedFilter, value)">{{ value }}</button>
		</div>
	</div>
</div>

<filters-gutter [filters]="currentFilterList" (onDeleteEvent)="onDeleteFilter($event)"></filters-gutter>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" *ngFor="let head of tableHeader">{{ head.text }}</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row" *ngFor="let printer of printersList">
      <td scope="col" *ngFor="let head of tableHeader">{{ getProperty(printer, head.key) }}</td>
    </tr>
  </tbody>
</table>
