<div class="px-4 py-5 my-5 text-center" *ngIf="ManufacturerDescription == ''">
  <h1 class="display-5 fw-bold text-body-emphasis">Manufacturers</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">List of all 3D FDM printers manufactuers.</p>
  </div>
</div>

<div class="text-center" *ngIf="!canDisplayPage">
  <img
    src="assets/loading.svg"
    alt="loading icon"
    height="100px"
    width="100px" />
</div>

<div *ngIf="ManufacturerDescription == '' && canDisplayPage">
  <div class="text-center" *ngFor="let manufacturer of manufacturers">
    <img class="manufacturer" (click)="loadManufacturer(manufacturer)" [src]="getSmallLogo(manufacturer)" alt="Logo">
  </div>
</div>

<div class="px-4 py-5 my-5 text-center" *ngIf="canDisplayPage">
  <div [innerHtml]="ManufacturerDescription"></div>
</div>
